doctype html 
html 
    head 
        meta(charset="utf-8")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
    body 
        div hello world from pug

        div 
            button(class="gethtmlbutton") button
        
        script(src='html.js')